"*":
  core:
    telemetryConsent: "limited"
    uriHandlerRegistration: "always"
  editor:
    fontSize: 18
  minimap: {}
  "spell-check":
    locales: [
      "en-US"
    ]
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
